clixen-generated-workflow-example.json
{
  "name": "Daily Weather Report - Generated by Clixen",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weather-report-trigger",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Clixen Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "clixen-weather-webhook"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.city || 'New York' }}"
              },
              {
                "name": "appid", 
                "value": "demo_api_key"
              },
              {
                "name": "units",
                "value": "metric"
              }
            ]
          }
        }
      },
      "id": "fetch-weather",
      "name": "Fetch Weather Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "report_title",
              "value": "Daily Weather Report"
            },
            {
              "name": "city",
              "value": "={{ $json.name || 'Unknown' }}"
            },
            {
              "name": "temperature",
              "value": "={{ $json.main ? $json.main.temp + '°C' : 'N/A' }}"
            },
            {
              "name": "description",
              "value": "={{ $json.weather && $json.weather[0] ? $json.weather[0].description : 'No data' }}"
            },
            {
              "name": "generated_by",
              "value": "Clixen AI Workflow Creator"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "format-report",
      "name": "Format Weather Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"report\": $json, \"message\": \"Weather report generated successfully by Clixen\", \"webhook_url\": \"https://n8nio-n8n-7xzf6n.sliplane.app/webhook/weather-report-trigger\" } }}"
      },
      "id": "webhook-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Clixen Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather Data": {
      "main": [
        [
          {
            "node": "Format Weather Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Weather Report": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}