backend/workflows/ai-tech-news.json
{
  "name": "[PROD] AI Technical News Digest",
  "nodes": [
    {
      "id": "schedule2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [250, 300],
      "typeVersion": 1.1,
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1,
              "triggerAtHour": 12
            },
            {
              "field": "hours",
              "hoursInterval": 1,
              "triggerAtHour": 20
            }
          ]
        }
      }
    },
    {
      "id": "hackernewsAI",
      "name": "HackerNews AI Stories",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 300],
      "typeVersion": 4.1,
      "parameters": {
        "method": "GET",
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "artificial intelligence OR machine learning OR LLM OR GPT"
            },
            {
              "name": "tags",
              "value": "story"
            },
            {
              "name": "hitsPerPage",
              "value": "10"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "devtoAI",
      "name": "Dev.to AI Articles",
      "type": "n8n-nodes-base.httpRequest", 
      "position": [450, 450],
      "typeVersion": 4.1,
      "parameters": {
        "method": "GET",
        "url": "https://dev.to/api/articles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tag",
              "value": "ai,machinelearning"
            },
            {
              "name": "per_page",
              "value": "5"
            },
            {
              "name": "state",
              "value": "rising"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "arxivAI",
      "name": "ArXiv AI Papers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 600],
      "typeVersion": 4.1,
      "parameters": {
        "method": "GET",
        "url": "http://export.arxiv.org/api/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_query",
              "value": "cat:cs.AI OR cat:cs.LG OR cat:cs.CL"
            },
            {
              "name": "max_results",
              "value": "5"
            },
            {
              "name": "sortBy",
              "value": "submittedDate"
            },
            {
              "name": "sortOrder",
              "value": "descending"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "formatAIEmail",
      "name": "Format AI News Email",
      "type": "n8n-nodes-base.code",
      "position": [650, 400],
      "typeVersion": 2,
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "python",
        "pythonCode": "import json\nfrom datetime import datetime\nimport re\n\n# Determine time of day\ncurrent_hour = datetime.now().hour\nif current_hour == 12:\n    edition = \"Midday\"\n    emoji = \"☀️\"\nelse:\n    edition = \"Evening\"\n    emoji = \"🌙\"\n\n# Process HackerNews stories\nhn_html = \"\"\nif items[0].json.get('hits'):\n    hn_html = \"<h2 style='color: #ff6600; margin: 20px 0;'>📰 Trending on HackerNews</h2>\"\n    for story in items[0].json['hits'][:5]:\n        hn_html += f\"\"\"\n        <div style=\"margin-bottom: 20px; padding: 15px; background: #fff5f0; border-left: 4px solid #ff6600; border-radius: 4px;\">\n            <h3 style=\"color: #333; margin: 0 0 10px 0;\">{story.get('title', 'Untitled')}</h3>\n            <p style=\"color: #666; font-size: 14px;\">👍 {story.get('points', 0)} points | 💬 {story.get('num_comments', 0)} comments</p>\n            <a href=\"{story.get('url', '#')}\" style=\"color: #ff6600; text-decoration: none; font-weight: bold;\">Read Article →</a>\n        </div>\n        \"\"\"\n\n# Process Dev.to articles\ndevto_html = \"\"\nif len(items) > 1 and items[1].json:\n    devto_html = \"<h2 style='color: #3b49df; margin: 30px 0 20px 0;'>💻 Dev.to AI Articles</h2>\"\n    articles = items[1].json if isinstance(items[1].json, list) else []\n    for article in articles[:5]:\n        devto_html += f\"\"\"\n        <div style=\"margin-bottom: 20px; padding: 15px; background: #f0f3ff; border-radius: 8px;\">\n            <h3 style=\"color: #090909; margin: 0 0 10px 0;\">{article.get('title', 'Untitled')}</h3>\n            <p style=\"color: #64707d; font-size: 14px;\">{article.get('description', '')[:150]}...</p>\n            <p style=\"color: #888; font-size: 12px;\">📖 {article.get('reading_time_minutes', 0)} min read | ❤️ {article.get('positive_reactions_count', 0)} reactions</p>\n            <a href=\"{article.get('url', '#')}\" style=\"color: #3b49df; text-decoration: none; font-weight: bold;\">Read More →</a>\n        </div>\n        \"\"\"\n\n# Process ArXiv AI papers\narxiv_html = \"\"\nif len(items) > 2:\n    arxiv_data = items[2].json if hasattr(items[2], 'json') else items[2].get('data', '')\n    if isinstance(arxiv_data, str):\n        entries = re.findall(r'<entry>(.*?)</entry>', arxiv_data, re.DOTALL)\n        arxiv_html = \"<h2 style='color: #b31b1b; margin: 30px 0 20px 0;'>🎓 Latest AI Research Papers</h2>\"\n        for i, entry in enumerate(entries[:5], 1):\n            title_match = re.search(r'<title>(.*?)</title>', entry)\n            summary_match = re.search(r'<summary>(.*?)</summary>', entry, re.DOTALL)\n            authors_match = re.findall(r'<name>(.*?)</name>', entry)\n            link_match = re.search(r'<id>(.*?)</id>', entry)\n            \n            if title_match:\n                title = title_match.group(1).strip()\n                summary = summary_match.group(1).strip()[:250] if summary_match else 'No summary'\n                authors = ', '.join(authors_match[:3]) if authors_match else 'Unknown'\n                link = link_match.group(1) if link_match else '#'\n                \n                arxiv_html += f\"\"\"\n                <div style=\"margin-bottom: 20px; padding: 15px; background: #fef5f5; border-radius: 8px; border: 1px solid #f0d0d0;\">\n                    <h4 style=\"color: #b31b1b; margin: 0 0 10px 0;\">{title}</h4>\n                    <p style=\"color: #666; font-size: 13px; margin: 10px 0;\">👥 {authors}</p>\n                    <p style=\"color: #555; font-size: 14px;\">{summary}...</p>\n                    <a href=\"{link}\" style=\"color: #b31b1b; font-weight: bold;\">Read Full Paper →</a>\n                </div>\n                \"\"\"\n\n# Key AI trends section\ntrends_html = \"\"\"\n<div style=\"margin: 30px 0; padding: 20px; background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%); color: white; border-radius: 10px;\">\n    <h2 style=\"margin: 0 0 15px 0;\">🔥 Today's AI Trends</h2>\n    <ul style=\"margin: 0; padding-left: 20px;\">\n        <li>Large Language Models (LLMs) continue to dominate discussions</li>\n        <li>Increased focus on AI safety and alignment</li>\n        <li>Multi-modal AI systems gaining traction</li>\n        <li>Open-source AI models challenging proprietary systems</li>\n    </ul>\n</div>\n\"\"\"\n\n# Create final HTML\nhtml_content = f\"\"\"\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <div style=\"background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%); color: white; padding: 30px; border-radius: 10px 10px 0 0; text-align: center;\">\n        <h1 style=\"margin: 0; font-size: 28px;\">{emoji} AI Technical News - {edition} Edition</h1>\n        <p style=\"margin: 10px 0 0 0; opacity: 0.9;\">{datetime.now().strftime('%A, %B %d, %Y')}</p>\n    </div>\n    \n    <div style=\"padding: 20px; background: white; border: 1px solid #e0e0e0; border-top: none;\">\n        {hn_html}\n        {devto_html}\n        {arxiv_html}\n        {trends_html}\n        \n        <div style=\"margin-top: 40px; padding: 20px; background: #f8f9fa; border-radius: 8px; text-align: center;\">\n            <p style=\"color: #666; margin: 0;\">📧 Delivered twice daily at 12:00 PM and 8:00 PM</p>\n            <p style=\"color: #999; font-size: 12px; margin: 10px 0 0 0;\">Curated from HackerNews, Dev.to, and ArXiv</p>\n        </div>\n    </div>\n</body>\n</html>\n\"\"\"\n\nreturn [{\n    \"subject\": f\"{emoji} AI Tech News - {edition} Edition - {datetime.now().strftime('%b %d')}\",\n    \"html\": html_content,\n    \"to\": \"jimkalinov@gmail.com\"\n}]"
      }
    },
    {
      "id": "sendAIEmail",
      "name": "Send AI Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [850, 400],
      "typeVersion": 2.1,
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html", 
        "htmlBody": "={{ $json.html }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "HackerNews AI Stories", "type": "main", "index": 0 },
          { "node": "Dev.to AI Articles", "type": "main", "index": 0 },
          { "node": "ArXiv AI Papers", "type": "main", "index": 0 }
        ]
      ]
    },
    "HackerNews AI Stories": {
      "main": [[{ "node": "Format AI News Email", "type": "main", "index": 0 }]]
    },
    "Dev.to AI Articles": {
      "main": [[{ "node": "Format AI News Email", "type": "main", "index": 0 }]]
    },
    "ArXiv AI Papers": {
      "main": [[{ "node": "Format AI News Email", "type": "main", "index": 0 }]]
    },
    "Format AI News Email": {
      "main": [[{ "node": "Send AI Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}